/*desktop view*/
html{
    font-size: 16px;
}
header{
    background-color: lightgray;
    width: 100%;
    height: 300px;
}
div{
    background-color: gray;
    width: 95%;
    height: 400px;
    margin: 60px 0;
}
p{
    width:80%;
}

/*tablet view*/
@media((min-width:601px) and (max-width:768px)){
    html{
        font-size: 14px;
    }
    header{
        background-color: beige;
    }
    div{
        width: 75%;
    }
}

/*phone view*/

@media(max-width:600px){
    html{
        font-size: 12px;
    }
    header{
        background-color: lightblue;
    }
    div{
        width:100%;
    }
    p{
        display: none;
    }
}